.contacts {
    padding: 100px 0;
}

.wrapper {
    gap: 140px;
}

.title {
    color: var(--heading);
    font-family: var(--font-inter), sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.description {
    color: #2A2A2A;
    font-family: var(--font-inter), sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 24px;
}

.button {
    width: 204px !important;
}

.inputs {
    display: flex;
    gap: 16px;
    width: 100%;

    & > *:first-child {
        width: 40%;
    }

    & > *:nth-child(2) {
        flex: 1;
    }
}

@media (max-width: 1024px) {
    .contacts {
        padding: 64px 0;
    }

    .title {
        font-size: 48px;
        margin-bottom: 24px;
    }

    .wrapper {
        gap: 48px;
    }

    .description {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .inputs {
        flex-direction: column;
        gap: 12px;

        & > * {
            width: 100% !important;
        }
    }
}

@media (max-width: 768px) {
    .contacts {
        padding: 48px 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .imgBox {
        display: none;
    }

    .title {
        font-size: 32px;
    }

    .description {
        font-size: 18px;
    }

    .button {
        width: 100% !important;
    }
}
