.join {
    padding: 120px 48px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-image:
            linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url('/img/join-in-bg.jpg');}

.joinWrapper {
    width: 50%;
}

.title {
    color: var(--bg);
    font-family: var(--font-poppins), sans-serif;
    font-size: 56px;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 32px;
}

@media (max-width: 1024px) {
    .join {
        padding: 100px 32px;
    }

    .joinWrapper {
        width: 70%;
    }

    .title {
        font-size: 42px;
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {
    .join {
        padding: 48px 24px;
    }

    .joinWrapper {
        width: 100%;
    }

    .title {
        font-size: 28px;
        text-align: left;
        width: 50%;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 22px;
    }
}
