@import "./reset.css";

:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-kristi: 'Kristi', sans-serif;
    --primary: #4126F1;
    --heading: #010101;
    --title: #353535;
    --desctiption: #484848;
    --bg: #F7F7F9;
    --light-text: #F5F3FF;
    --border: #CFCFCF;
}

.button {
    height: 100px;
}

html {
    scroll-behavior: smooth;
}

html, body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-shrink: 0;
}

.main-wrapper {
    border-radius: 20px;
    overflow: hidden;
}

main {
    flex: 1;
    overflow: hidden;
}

main {
    scroll-margin-top: 135px; /* висота хедера */
}

footer {
    /*flex-shrink: 0;*/
}

body {
    font-family: var(--font-poppins);
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: var(--font-inter);
}
