.header {
    height: 135px;
    display: flex;
    align-items: center;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav {
    display: flex;
}

.navList {
    display: flex;
    gap: 48px;
    align-items: center;

    @media (max-width: 1024px) {
        gap: 24px;
    }
}

.navItem a {
    font-family: var(--font-inter), sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--heading);
    text-decoration: none;
}

.navItem a:hover {
    color: var(--primary);
}

.burger {
    display: none;
}

@media (max-width: 1023px) {
    .header {
        height: 90px;
    }

    .burger {
        display: block;
    }

    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        flex-direction: column;
        padding: 16px;
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
        z-index: 10;
    }

    .navOpened {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .navList {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .submitRequestWrapper {
        display: none;
    }

    .navItem {
        width: 100%;
        & a {
            display: inline-block;
            width: 100%;
            padding: 8px 0;
        }
    }
}
