.footer {
    height: 135px;
    display: flex;
    align-items: center;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navList {
    display: flex;
    gap: 48px;
    align-items: center;
}

.navItem a {
    font-family: var(--font-inter), sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--heading);
    text-decoration: none;

    &:hover {
        color: var(--primary);
    }
}

.footerCopyright {

}

@media (max-width: 1024px) {
    .navList {
        gap: 32px;
    }

    .social {
        gap: 32px;
    }
}

@media (max-width: 1023px) {
    .footer {
        height: auto;
        padding: 32px 0;
    }

    .footerContainer {
        align-items: center;
        gap: 24px;
        text-align: center;
    }

    .navList {
        display: grid;
        place-items: start;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
    }

    .navItem a {
        font-size: 14px;
    }

    .social {
        gap: 24px;
    }

    .social :global(svg) {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 767px) {
    .footerContainer {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        text-align: center;

        & nav {
            width: 100%;
        }
    }

    .navList {
        display: flex;
        flex-direction: column;
        place-items: center;
        gap: 8px;
        width: 100%;
    }

    .navItem {
        width: 100%;
        & a {
            display: inline-block;
            width: 100%;
            padding: 4px 0;
        }
    }
}
